<html>
    <head>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="/styles.css" rel="stylesheet">
        <title>University Registrar</title>
    </head>
    <body>
        <h1 class="well text-center">Welcome to Epicodus University!</h1>
        <div class="container">
            <h3><a href="/courses">See University Courses</a></h3>
            <h3><a href="/students">See University Students</a></h3>
        </div>
    </body>
</html>
